.copyright{
    background-color: #1A252F;
    font-weight: 400;
}
.contact{
    background-color: #2C3E50;
    color: white;
}

.contact .container{
    padding-block: 2rem;
}

.location{
    font-weight: 600;
}

.links i{
    cursor: pointer;
    font-size: 1.7rem;
}